*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: cornsilk;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
#pg1{
    height: 100%;
    width: 100%;
}
#header{
    height: 20vh;
    background-color:orange;
    width: 100%;
    
}
#hd1{
    background-color: rgb(255, 202, 78);
    height: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 10%;
}
#hd2{
    background-color: aqua;
    height: 40%;
}

#d2,#d1{
    display: flex;
    gap: 5%;
    text-align: center;
    align-items: center;
    margin: 2%;
    
}
#d1{
    margin-right: 25%;
}
#d3{
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 14%;
    
}
#icon{
    font-size: x-large;
}
button{
    font-size: larger;
    background-color: blueviolet;
    color: white;
}
#box1{
    background-color: rgb(173, 202, 255);
    height: 40vh;
   
}
#img1{
    height: 100%;
}
